.box-name__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 49px;
    padding-bottom: 25px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding-top: 49px;
  }
}

.box-name__contain {
  @media (min-width: $tablet-width) {
    width: 76%;
  }
}

.box-name__title {
  margin-top: 43px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 17px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
  }
}

.box-name__list {
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    padding-left: 6px;
  }
}

.box-name__item {
  display: flex;
  flex-direction: column;
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 24px;
  }
}

.box-name__input {
  border: none;
  box-shadow: inset 0 -2px 0 $black-color;
  min-height: 52px;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
  letter-spacing: 0.4px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    font-size: 19px;
    width: 100%;
    margin-left: 25px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 88px;
  }
}

.box-name__label {
  @media (min-width: $tablet-width) {
    padding-top: 16px;
  }
}

.box-name__input:hover {
  box-shadow: inset 0 -2px 0 $green-extra-light-color;
}

.box-name__input:active {
  box-shadow: inset 0 -2px 0 $green-extra-light-color;
}
