.catalog {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 79px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 127px;
  }
}

.catalog__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}
