.catalogue {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 177px;
  background-color: $grey-light-color;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 226px;
  }

  @media (min-width: $desktop-width) {
    min-height: 255px;
  }
}

.catalogue::before {
  @media (min-width: $tablet-width) {
    content: "";
    background-image: url("../../img/icon/wave-white-middle.svg");
    position: absolute;
    width: 100%;
    min-height: 24px;
    bottom: -9px;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    content: "";
    background-image: url("../../img/icon/zigzag-fill-desktop.svg");
    width: 1150px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
  }
}

.catalogue__title {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  align-self: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 26px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding-top: 6px;
  }
}
