.catalog {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 67px;
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 111px;
  }
}

.catalog__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
  }
}

.assortment {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    margin-right: 50px;
  }
}

.assortment:nth-child(3n) {
  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.assortment__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    // padding-top: 13px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    // justify-content: start;
    // margin-right: 51px;
    // height: 100%;
    // padding-left: 0;
    // padding-right: 0;
  }
}

.assortment__block {
  padding: 0 28px;
  border: 1px solid $grey-shadows-color;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 50%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    max-width: 316px;
    // height: 100%;
  }
}

.assortment__block:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.assortment__block:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.assortment__description {
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    height: 100%;
  }
}

.assortment__adding {
  padding: 22px 0 26px 0;
  border-top: 1px solid $grey-shadows-color;
}

.assortment__link {
  display: block;
  min-height: 195px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    max-width: 316px;
  }
}

.assortment__image {
  width: 100%;
  height: auto;
  display: block;
}

.assortment__title {
  display: block;
  color: $black-color;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: start;
  margin: 0;
  margin-top: 27px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.assortment__title:hover {
  color: $black-medium-opacity-color;
}

.assortment__title:active {
  color: $black-light-opacity-color;
}

.assortment__text {
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: $grey-dark-color;
  text-align: start;
  margin: 0;
  margin-top: 6px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.assortment__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}
