.contacts {
  position: relative;
  min-height: 618px;
}

.contacts::before {
  content: "";
  background-image: url("../img/icon/wave-line-small.svg");
  position: absolute;
  width: 100%;
  min-height: 6px;
  top: 0;

  @media (min-width: $tablet-width) {
    content: "";
    background-image: url("../img/icon/wave-line-middle.svg");
    position: absolute;
    width: 100%;
    min-height: 17px;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/icon/wave-line-big.svg");
    width: 1050px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 23px;
  }
}

.contacts__wrapper {
  position: relative;
  padding-top: 45px;

  @media (min-width: $tablet-width) {
    padding-top: 86px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 174px;
    padding-bottom: 107px;
  }
}

.contacts__header {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    max-width: 80%;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-left: 175px;
    max-width: 30%;
  }
}

.contacts__title::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    right: 0;
    top: -22px;
    width: 50px;
    height: 81px;
    background-image: url("../img/icon/flag.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    left: 64px;
    top: -17px;
  }
}

.contacts__information {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 29px;
  }

  @media (min-width: $desktop-width) {
    width: 33%;
    flex-direction: column;
    margin-left: 175px;
    margin-top: 0;
  }
}

.contacts__block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $grey-dark-color;
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    margin-top: 22px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: 24px;
  }
}

.contacts__email {
  @media (min-width: $desktop-width) {
    margin-top: 37px;
  }
}

.contacts__paragraph {
  margin: 0;
}

.contacts__link {
  margin-left: 33px;
  text-decoration: none;
  color: $grey-dark-color;
  border-bottom: 1px solid $green-extra-light-color;
  line-height: 23px;
  margin-top: 2px;

  @media (min-width: $tablet-width) {
    margin-left: 24px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    min-height: 30px;
  }
}

.contacts__link:hover {
  color: $green-dark-color;
  border-bottom: 1px solid $green-dark-color;
}

.contacts__link:active {
  color: $green-dark-color;
  border-bottom: 1px solid transparent;
}

.contacts__text {
  margin-left: 33px;

  @media (min-width: $tablet-width) {
    margin-left: 24px;
  }
}

.contacts__map {
  margin: 0 -30px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 -50px 55px -50px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 527px;
    height: 457px;
    right: 100px;
    top: 0;
  }
}

.contacts__map iframe {
  border: none;
  margin-top: 63px;
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 95px;
  }
}

// .contacts__map::before {
//   content: "";
//   position: absolute;
//   right: 115px;
//   top: 146px;
//   width: 67px;
//   height: 100px;
//   background-image: url("../../img/icon/map-pin.svg");
//   background-repeat: no-repeat;

//   @media (min-width: $tablet-width) {
//     right: 338px;
//     top: 137px;
//   }

//   @media (min-width: $desktop-width) {
//     right: 219px;
//     top: 239px;
//   }
// }

.contacts__button-block {
  @media (min-width: $desktop-width) {
    width: 50%;
    margin-top: 86px;
    margin-left: 27px;
  }
}

.contacts__button {
  margin: 44px 0 39px 0;

  @media (min-width: $tablet-width) {
    width: 230px;
    font-size: 17px;
    margin: auto;
  }
}
