.features {
  position: relative;
}

.features__title {
  margin: 0;
  padding-top: 37px;

  @media (min-width: $tablet-width) {
    padding: 73px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 91px 0 0 0;
    margin-left: 175px;
  }
}

.features::before {
  content: "";
  background-image: url("../img/icon/wave-line-small.svg");
  position: absolute;
  width: 100%;
  min-height: 6px;
  top: 0;

  @media (min-width: $tablet-width) {
    background-image: url("../img/icon/wave-line-middle.svg");
    min-height: 17px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/icon/wave-line-big.svg");
    min-height: 23px;
    width: 1050px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 112px;
    margin-bottom: 83px;
    padding-top: 98px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 176px;
    grid-template-columns: 348px 345px;
    margin-bottom: 90px;
    padding-top: 96px;
  }
}

.features__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  padding-top: 83px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.features__item:nth-child(2) {
  order: 3;
}

.features__item:nth-child(3) {
  order: 5;
}

.features__item:nth-child(4) {
  order: 2;
}

.features__item:nth-child(5) {
  order: 4;
}

.features__item:nth-child(6) {
  order: 6;
}

.features__text {
  margin: 0;
}

.features__item--ecology::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 38px;
  background-image: url("../img/icon/flower.svg");
  background-repeat: no-repeat;
  left: 8px;
  top: 28px;

  @media (min-width: $tablet-width) {
    top: -50px;
  }
}

.features__item--profitably::before {
  content: "";
  position: absolute;
  width: 47px;
  height: 27px;
  background-image: url("../img/icon/banknote.svg");
  background-repeat: no-repeat;
  left: 0;
  top: 29px;

  @media (min-width: $tablet-width) {
    top: -50px;
  }
}

.features__item--like::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 27px;
  background-image: url("../img/icon/heart.svg");
  background-repeat: no-repeat;
  left: 7px;
  top: 34px;

  @media (min-width: $tablet-width) {
    top: -50px;
  }
}

.features__item--handmade::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 34px;
  background-image: url("../img/icon/strings.svg");
  background-repeat: no-repeat;
  left: 3px;
  top: 31px;

  @media (min-width: $tablet-width) {
    top: -50px;
  }
}

.features__item--support::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 23px;
  background-image: url("../img/icon/rocket.svg");
  background-repeat: no-repeat;
  left: -5px;
  top: 32px;

  @media (min-width: $tablet-width) {
    top: -50px;
  }
}

.features__item--box::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 32px;
  background-image: url("../img/icon/surprise.svg");
  background-repeat: no-repeat;
  left: 3px;
  top: 30px;

  @media (min-width: $tablet-width) {
    top: -50px;
  }
}
