.page-footer {
  background-color: $grey-light-color;
  min-height: 160px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-height: 143px;
  }
}

.page-footer__wrapper {
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 51px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    padding-top: 49px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-footer__logo:hover path {
  fill: $green-dark-color;
}

.page-footer__logo:active path {
  fill: $green-dark-color;
  opacity: 0.3;
}

.page-footer__social {
  margin: auto;
  width: 145px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__link:hover path {
  fill: $green-dark-color;
}

.social__link:active path {
  fill: $green-dark-color;
  opacity: 0.3;
}

.page-footer__copyright {
  padding-top: 17px;
  margin-top: 27px;
  border-top: 1px solid $grey-middle-extra-color;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    border: none;
  }
}

.page-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: $black-color;
}

.page-footer__link:hover path {
  fill: $green-dark-color;
}

.page-footer__link:active path {
  fill: $green-dark-color;
  opacity: 0.3;
}

.page-footer__academy-logo {
  margin-left: 27px;
}
