.form__header-wrapper {
  padding-top: 17px;

  @media (min-width: $tablet-width) {
    padding-top: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 116px;
  }
}

.form__paragraph {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  // margin-top: 17px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    line-height: 30px;
    margin-left: 175px;
    width: 700px;
  }
}

.form__all-title {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $green-light-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    align-items: stretch;
    width: 25%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 62px;
    margin-right: 4px;
    width: 10%;
  }
}

.form__all-title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  height: 1px;
  margin-left: 15px;
  background-color: $green-extra-light-color;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  margin-left: 60px;
  list-style: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: $black-color;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}


.box-radio__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 35px;
    padding-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 18px;
  }
}

.box-radio__contain {
  @media (min-width: $tablet-width) {
    width: 75%;
  }
}

.box-radio__title {
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    margin-top: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 62px;
    margin-right: 4px;
    width: 10%;
  }
}

.box-radio__list {
  text-align: start;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.box-radio__lable {
  position: relative;
  display: block;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 39px;
    text-align: start;
    padding-left: 80px;
    box-sizing: border-box;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 84px;
  }
}

.box-radio__input + .box-radio__lable::before {
  content: "";
  position: absolute;
  width: 41px;
  height: 41px;
  left: -60px;
  top: -10px;
  background-clip: content-box;
  padding: 10px;
  border: 2px solid $grey-dark-color;
  border-radius: 50%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    top: -5px;
    left: 3px;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  @media (min-width: $desktop-width) {
    top: -6px;
    left: 5px;
  }
}

.box-radio__input + .box-radio__lable--accessory::before {
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.box-radio__input + .box-radio__lable:hover::before {
  border: 2px solid $green-extra-light-color;
}

.box-radio__input + .box-radio__lable:active::before {
  border: 2px solid $black-light-opacity-color;
}

.box-radio__input:checked + .box-radio__lable::before {
  background-color: $green-extra-light-color;
}

.box-radio__item {
  margin-top: 24px;
}

.box-radio__item:nth-child(1) {
  margin-top: 35px;
}

.box-checkbox {
  @media (min-width: $tablet-width) {
    background-color: $grey-light-color;
    min-height: 304px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    min-height: 228px;
  }
}

.box-checkbox__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.box-checkbox__contain {
  @media (min-width: $tablet-width) {
    padding-left: 104px;
  }

  @media (min-width: $desktop-width) {
    width: 75%;
    padding-left: 0;
  }
}

.box-checkbox__list {
  @media (min-width: $tablet-width) {
    // width: 245px;
    // padding-left: 85px;
    // box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 0;
  }

  // @media (min-width: $desktop-width) {
  //   justify-content: flex-start;
  // }
}

.box-checkbox__label {
  position: relative;
  display: block;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 245px;
    padding-top: 10px;
    padding-bottom: 8px;
    text-align: start;
    padding-left: 85px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    margin-right: 15px;
    padding-top: 12px;
    padding-bottom: 5px;
  }
}

.box-checkbox__input + .box-checkbox__label::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  left: -60px;
  top: -10px;
  border: 2px solid $grey-dark-color;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
    top: -5px;
    left: 5px;
  }
}

.box-checkbox__input + .box-checkbox__label:hover::before {
  border: 2px solid $green-extra-light-color;
}

.box-checkbox__input + .box-checkbox__label:active::before {
  border: 2px solid $grey-hide-opacity;
}

.box-checkbox__input:checked + .box-checkbox__label::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 17px;
  background-image: url("../../img/icon/check.svg");
  left: -52px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 32px;
    height: 22px;
    background-image: url("../../img/icon/check-big.svg");
    left: 15px;
    top: 10px;
  }
}

.box-checkbox__title {
  margin-top: 46px;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
  }
}

.box-checkbox__item {
  margin-top: 43px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.box-checkbox__item:nth-child(1) {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.box-name__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 49px;
    padding-bottom: 25px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding-top: 49px;
  }
}

.box-name__contain {
  @media (min-width: $tablet-width) {
    width: 76%;
  }
}

.box-name__title {
  margin-top: 43px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 17px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
  }
}

.box-name__list {
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    padding-left: 6px;
  }
}

.box-name__item {
  display: flex;
  flex-direction: column;
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 24px;
  }
}

.box-name__input {
  border: none;
  box-shadow: inset 0 -2px 0 $black-color;
  min-height: 52px;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
  letter-spacing: 0.4px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    font-size: 19px;
    width: 100%;
    margin-left: 25px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 88px;
  }
}

.box-name__label {
  @media (min-width: $tablet-width) {
    padding-top: 16px;
  }
}

.box-name__input:hover {
  box-shadow: inset 0 -2px 0 $green-extra-light-color;
}

.box-name__input:active {
  box-shadow: inset 0 -2px 0 $green-extra-light-color;
}

.form input[type]::placeholder {
  color: $black-color;
  opacity: 0.3;
}

.box-contacts {
  @media (min-width: $tablet-width) {
    background-color: $grey-light-color;
  }
}

.box-contacts__wrapper {
  position: relative;
  // padding-top: 34px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

.box-contacts__contact {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.box-contacts__contact--email {
  padding-top: 5px;
}

.box-contacts__block {
  @media (min-width: $tablet-width) {
    width: 100%;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 180px;
  }
}

.box-contacts__icon--phone {
  position: absolute;
  top: 32px;
  right: 8px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 15px;
    right: 26px;
  }

  @media (min-width: $desktop-width) {
    right: 182px;
    top: 12px;
  }
}

.box-contacts__icon--email {
  position: absolute;
  top: 73px;
  right: 3px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 21px;
    right: 22px;
  }

  @media (min-width: $desktop-width) {
    right: 178px;
  }
}

.box-contacts__icon path {
  opacity: 0.2;
}

.box-contacts__icon:hover path {
  fill: $green-extra-light-color;
  opacity: 1;
}

.box-contacts__icon:active path {
  fill: $green-extra-light-color;
  opacity: 1;
}

.box-contacts__lable {
  margin-top: 31px;
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-right: 45px;
    margin-bottom: 38px;
    margin-top: 18px;
    padding-bottom: 0;
  }
}

.box-contacts__input {
  border: none;
  box-shadow: inset 0 -2px 0 $black-color;
  min-height: 52px;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
  width: 100%;

  @media (min-width: $tablet-width) {
    background-color: $grey-light-color;
    padding-left: 18px;
    font-size: 19px;
  }
}

.box-contacts__input:hover {
  box-shadow: inset 0 -2px 0 $green-extra-light-color;
}

.box-contacts__input:active {
  box-shadow: inset 0 -2px 0 $green-extra-light-color;
}

.box-contacts__input--phone::placeholder {
  letter-spacing: -1px;

  @media (min-width: $tablet-width) {
    letter-spacing: -1.4px;
  }
}

.box-description__wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.box-description__contain {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
  }
}

.box-description__label {
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    width: 25%;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 10%;
  }
}

.box-description__block {
  @media (min-width: $tablet-width) {
    width: 75%;
  }
}

.box-description__textarea {
  border: 2px solid $grey-dark-color;
  margin-top: 22px;
  box-sizing: border-box;
  min-height: 142px;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  padding: 17px 17px 0 17px;
  font-family: inherit;
  resize: vertical;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 5px;
    width: 700px;
  }
}

.box-description__textarea:hover {
  border: 2px solid $green-extra-light-color;
}

.box-description__textarea:active {
  border: 2px solid $green-extra-light-color;
}

.form textarea::placeholder {
  color: $black-color;
  opacity: 0.3;
}

.box-description__contain--button {
  @media (min-width: $tablet-width) {
    margin-top: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 175px;
    justify-content: space-between;
    margin-top: 45px;
  }
}

.box-description__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $grey-dark-color;
  margin: 0;
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-top: 10px;
    text-align: right;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    margin-right: 175px;
  }
}

.box-description__button {
  font-size: 17px;
  line-height: 16px;
  min-height: 52px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
