.main-navigation {
  min-height: 79px;
  margin: auto;

  @media (min-width: $tablet-width) {
    // min-height: 89px;
    // background-color: transparent;
  }
}

.main-navigation__wrapper {
  padding: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px;
    min-height: 88px;
  }
}

.main-navigation__menu {
  position: relative;
  box-sizing: border-box;
  min-height: 79px;
  border-bottom: 1px solid $black-extra-light-opacity-color;

  @media (min-width: $tablet-width) {
    // background-color: greenyellow;
    padding-top: 22px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100px;
    left: 50%;
    transform: translateX(-51%);
  }
}

.main-navigation__logo {
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-51%);
  // padding: 22px 0;

  @media (min-width: $tablet-width) {
    position: static;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 9px;
  }
}

.main-navigation__logo:hover {
  opacity: 0.6;
}

.main-navigation__logo:active {
  opacity: 0.3;
}

.main-navigation__toggle {
  background-color: transparent;
  position: absolute;
  top: 32%;
  right: 30px;
  width: 25px;
  height: 25px;
  margin: 0;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 6px;
  width: 20px;
  height: 2px;
  background-color: $black-extra-color;
  box-shadow: 0 6px 0 0 $black-extra-color, 0 12px 0 0 $black-extra-color;
}

.main-navigation--closed .main-navigation__item {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}

.main-navigation--nojs .main-navigation__item {
  display: block;
}

.main-navigation--opened .main-navigation__toggle::before,
.main-navigation--opened .main-navigation__toggle::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 1px;
  width: 23px;
  height: 2px;
  background-color: $black-color;
}

.main-navigation--opened .main-navigation__toggle::before {
  transform: rotate(45deg);
}

.main-navigation--opened .main-navigation__toggle::after {
  transform: rotate(-45deg);
}

.main-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
  }
}

.main-navigation__item {
  text-align: start;
  box-shadow: 0 1px 0 $grey-shadows-color, inset 0 1px 0 $grey-shadows-color;
  // background-color: moccasin;

  @media (min-width: $tablet-width) {
    box-shadow: none;
  }

  @media (min-width: $tablet-width) {
    min-height: 88px;
  }
}

.main-navigaton__link {
  position: relative;
  width: 100%;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $black-color;
  padding-top: 28px;
  padding-left: 76px;
  min-height: 79px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 33px;
    padding-left: 83px;
  }

  @media (min-width: $desktop-width) {
    min-height: 88px;
  }
}

.site-list__link {
  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 21px;
    font-size: 15px;
    margin-right: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    padding-top: 33px;
  }
}

.site-list__link--border {
  @media (min-width: $desktop-width) {
    border-left: 1px solid $black-extra-light-opacity-color;
    padding-left: 35px;
  }
}

.site-list {
  @media (min-width: $tablet-width) {
    order: 2;
    position: absolute;
    left: 50px;
    top: 88px;
    z-index: 3;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    position: static;
  }
}

.user-list {
  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.user-list__svg {
  position: absolute;
  left: 30px;
  top: 30px;

  @media (min-width: $tablet-width) {
    top: 35px;
  }
}

.user-list__item--size {
  @media (min-width: $tablet-width) {
    width: 82px;
    border-left: 1px solid $black-extra-light-opacity-color;
    border-right: 1px solid $black-extra-light-opacity-color;
    box-sizing: border-box;
  }
}

.user-list__text--none {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.other-list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    order: 3;
    position: absolute;
    left: 50px;
    top: 88px;
    z-index: 3;
  }
}

.other-list__link {
  @media (min-width: $desktop-width) {
    font-size: 15px;
    padding-left: 0;
    padding-right: 64px;
    padding-top: 20px;
  }
}

.user-list__link:hover path {
  fill: $green-light-color;
  opacity: 1;
}

.user-list__link:active path {
  fill: $green-light-color;
  opacity: 0.3;
}

.main-navigaton__link:hover {
  color: $black-medium-opacity-color;
}

.main-navigaton__link:active {
  color: $black-light-opacity-color;
}

.main-navigation__delivery {
  display: none;
  font-weight: normal;
  font-size: 15px;
  color: $grey-dark-color;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 90px;
    right: 50px;
    margin: 0;
    padding-top: 20px;
    order: 4;
    z-index: 3;
  }
}
