.reviews {
  position: relative;
  // background-color: rgb(66, 71, 143);
}

.reviews__wrapper {
  position: relative;
}

.reviews__contain {
  padding-top: 58px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/image/review.png");
    background-repeat: no-repeat;
    padding-top: 82px;
    padding-bottom: 115px;
    margin-left: -50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 78px;
    padding-bottom: 163px;
    margin-left: 0;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
    margin-left: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
    margin-left: 175px;
  }
}

.reviews__card {
  @media (min-width: $tablet-width) {
    margin-left: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 180px;
  }
}

.reviews__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: $grey-dark-color;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.revies__name {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.revies__nickname {
  color: $grey-dark-color;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
}

.reviews__toggle {
  display: flex;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 50px;
    bottom: 115px;
    width: 180px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    bottom: 160px;
  }
}

.reviews__navigation {
  box-sizing: border-box;
  width: 100%;
  min-height: 52px;
  background-color: $white-color;
  border: 1px solid $grey-shadows-color;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.reviews__button {
  margin-top: 38px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 45px;
    right: 50px;
    font-size: 17px;
    width: 175px;
  }
}
