.features {
  position: relative;
}

.features__title {
  margin: 0;
  padding-top: 31px;

  @media (min-width: $tablet-width) {
    padding: 55px 0 98px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 68px 0 95px 0;
    margin-left: 175px;
  }
}

.features::before {
  content: "";
  background-image: url("../../img/icon/wave-line-small.svg");
  position: absolute;
  width: 100%;
  min-height: 6px;
  top: 0;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/icon/wave-line-middle.svg");
    min-height: 17px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/icon/wave-line-big.svg");
    min-height: 23px;
  }
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 110px;
    margin-bottom: 83px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 180px;
    grid-template-columns: 345px 345px;
    margin-bottom: 90px;
  }
}

.features__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  padding-top: 83px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.features__item:nth-child(2) {
  order: 3;
}

.features__item:nth-child(3) {
  order: 5;
}

.features__item:nth-child(4) {
  order: 2;
}

.features__item:nth-child(5) {
  order: 4;
}

.features__item:nth-child(6) {
  order: 6;
}

.features__text {
  margin: 0;
}
