.product {
  position: relative;
}

.product__header {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 115px;
    margin-right: 350px;
  }
}

.product__title {
  margin: 0;
  padding: 31px 0 4px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    z-index: 2;
    order: 2;
  }
}

.product__subtitle {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $green-light-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    line-height: 17px;
    margin-right: 15px;
    width: 100px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    z-index: 2;
    margin-right: 40px;
    margin-left: 30px;
  }
}

.product__description {
  @media (min-width: $tablet-width) {
    margin-right: 42px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 175px;
    margin-right: 58px;
  }
}

.product__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: $grey-dark-color;
  margin: 0;
  padding: 18px 0 28px 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-top: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 35px;
  }
}

.product__options {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: $grey-dark-color;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 28px;
}

.product__options td {
  border-bottom: 1px solid $grey-shadows-color;
  padding: 8px 0 8px 0;
}

.product__order {
  @media (min-width: $tablet-width) {
    margin-top: -167px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 175px;
    margin-right: 58px;
  }
}

.product__price {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: $grey-dark-color;
  margin: 25px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 292px;
    margin: 57px 0 33px 0;
  }
}

.product__image {
  width: 100%;
  height: auto;
  display: block;

  @media (min-width: $tablet-width) {
    min-width: 334px;
    margin-top: 50px;
    // position: absolute;
    // right: 30px;
    // top: 85px;
    // width: 334px;
    // height: 404px;
    // margin-left: 42px;
  }

  @media (min-width: $desktop-width) {
    min-width: 525px;
    margin-top: -125px;
  }
}

.product__button {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    width: 292px;
    margin-bottom: 52px;
  }
}

.product__content {
  @media (min-width: $tablet-width) {
    display: flex;
    // justify-content: space-between;
  }
}
