.page__body {
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: auto;
  min-width: 320px;
  color: $black-color;
}

.page__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.page__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $grey-dark-color;
  box-sizing: border-box;
  background-color: $white-color;
  min-height: 52px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $grey-dark-color;
  text-align: center;
  cursor: pointer;
}

.page__button:hover {
  color: $white-color;
  background: linear-gradient(0deg, $grey-dark-color, $grey-dark-color);
}

.page__button:active {
  color: $white-light-opacity-color;
}
