.reviews {
  position: relative;
}

.reviews__wrapper {
  position: relative;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding-bottom: 68px;
  }
}

.reviews__contain {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/image/review.jpg");
    background-repeat: no-repeat;
    padding-top: 82px;
    padding-bottom: 115px;
    margin-left: -50px;
    height: 457px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/image/review@2x.jpg");
      background-size: 350px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 78px;
    padding-bottom: 163px;
    margin-left: 0;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    margin-left: 50px;
    max-width: 60%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
    margin-left: 175px;
  }
}

.reviews__card {
  @media (min-width: $tablet-width) {
    margin-left: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 175px;
  }
}

.reviews__card--hidden {
  display: none;
}

.reviews__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: $grey-dark-color;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    margin-bottom: 65px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;

    br.first {
      display: block;
    }
  }
}

.reviews__name {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    max-width: 60%;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.reviews__nickname {
  color: $grey-dark-color;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
}

.reviews__toggle {
  display: flex;
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 48px;
    bottom: 124px;
    width: 180px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    bottom: 172px;
  }
}

.reviews__navigation {
  box-sizing: border-box;
  width: 100%;
  min-height: 52px;
  background-color: $white-color;
  border: 1px solid $grey-shadows-color;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    border: none;
    min-height: 0;
  }
}

.reviews__navigation:hover path {
  opacity: 0.6;
}

.reviews__navigation:active path {
  opacity: 0.3;
}

.reviews__button {
  margin-top: 38px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 42px;
    right: 50px;
    font-size: 17px;
    width: 175px;
  }
}
