.things {
  position: relative;
  background-color: $grey-middle-color;
}

.things::before {
  @media (min-width: $tablet-width) {
    content: "";
    background-image: url("../../img/icon/wave-white-middle.svg");
    background-position-x: center;
    position: absolute;
    width: 100%;
    min-height: 24px;
    bottom: -8px;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    content: "";
    background-image: url("../../img/icon/wave-white-big.svg");
    width: 1150px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
  }
}

.things__wrapper {
  background-color: $grey-middle-color;
}

.things__image {
  background-image: url("../../img/image/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% -15px;
  height: 283px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/image/hero-mobile@2x.jpg");
    background-size: 320px;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/image/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 626px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/image/hero-desktop@2x.jpg");
      background-size: 768px;
    }
  }
}

.things__title {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  padding: 74px 0 0 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 155px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.things__anchors {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.things__anchor {
  display: block;
  text-decoration: none;
  color: $white-color;
  min-height: 103px;
  padding: 24px 30px 13px 30px;
  margin: 0 -30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 100%;
    min-height: 124px;
  }
}

.things__anchor:hover {
  @media (min-width: $tablet-width) {
    transform: translateY(-5px);
  }
}

.things__anchor-interior {
  position: relative;
  background-color: $green-light-color;
}

.things__anchor-wrapper {
  display: flex;
  justify-content: space-between;
}

.things__element {
  opacity: 0.5;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
  }
}

.things__element--lamp {
  padding-right: 5px;
}

.things__element:hover {
  opacity: 0.7;
}

.things__element:active {
  opacity: 0.3;
}

.things__anchor-interior:hover {
  background-color: $green-flash-light-color;
}

.things__anchor-toy {
  background-color: $green-middle-color;
  position: relative;
}

.things__anchor-toy:hover {
  background-color: $green-dark-color;
}

.things__text {
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  max-width: 170px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 6px;
  }
}
