.video {
  margin-bottom: 58px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 104px;
  }
}

.video__wrapper {
  box-sizing: border-box;
  border: 1px solid $grey-shadows-color;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    min-height: 456px;
  }
}

.video__wrapper:hover {
  box-shadow: 0 6px 10px $black-extra-light-opacity-color;
}

.video__wrapper:active {
  box-shadow: 0 3px 5px $black-extra-light-opacity-color;
}

.video__production {
  display: flex;
  align-items: center;
  padding: 21px 13px 29px 34px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 41px 41px 25px 40px;
    order: 2;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 761px;
    padding-left: 0;
    padding-right: 57px;
    padding-top: 96px;

    br {
      display: block;
    }
  }
}

.video__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  margin-left: 55px;
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-left: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    flex-direction: column;
  }
}

.video__title--logo::before {
  content: "";
  background-image: url("../img/icon/camera.svg");
  position: absolute;
  width: 32px;
  height: 22px;
  left: -55px;

  @media (min-width: $tablet-width) {
    left: -65px;
    top: -2px;
  }

  @media (min-width: $desktop-width) {
    left: 0;
    top: -50px;
  }
}

.video__station {
  display: block;
}

.video__clip {
  display: block;
  width: 100%;
  height: auto;
}

.video__content {
  position: relative;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.video__click {
  position: absolute;
  border: none;
  background-color: transparent;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
}

.video__play:hover {
  transform: scale(1.2);
}

.video__play:active {
  transform: scale(0.8);
  opacity: 0.8;
}

.video__order {
  padding-left: 34px;
  padding-right: 31px;
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    order: 3;
    padding-left: 40px;
    padding-right: 41px;
    padding-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 761px;
    padding-left: 0;
    padding-right: 57px;
  }
}

.video__text {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: $grey-dark-color;
  margin: 0;
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
    margin-top: 0;
  }
}

.video__block {
  margin: 16px 0 0 0;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 53px 0 0 0;
  }
}

.video__button {
  font-size: 18px;
  line-height: 16px;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}
