<<<<<<< HEAD
// colors
=======
>>>>>>> 3f9abd0832e4fecaff59b21b0ed0aa8e5d875f3e
$white-color: #ffffff;

$black-color: #000000;

$grey-light-color: #f1f1f1;
<<<<<<< HEAD
$grey-middle-color: #F9F9F9;
$grey-dark-color: #444444;
=======
$grey-middle-color: #f9f9f9;
$grey-dark-color: #444444;
$grey-shadows-color: #ececec;
$grey-middle-extra-color: #e5e5e5;
>>>>>>> 3f9abd0832e4fecaff59b21b0ed0aa8e5d875f3e

$green-light-color: #63d1bb;
$green-extra-light-color: #62d1ba;
$green-middle-color: #56c3b2;
$green-dark-color: #46c1ae;
$green-extra-dark-color: #149080;
